:root {
    --primary-nero: #000000;
    --primary-bianco: #FFFFFF;
    --primary-rosso: #E63036;
    --primary-green: #E2F1E8;
    --primary-rose: #F1DADA;
    --primary-yellow: #F1F1E2;
    --secondary-eggshell: #F4F1DE;
    --grey-1: #F4F4F4;
}
